In [8]:
import pandas as pd      
import numpy as np 
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [2]:
#pip list

In [6]:
pip install streamlit==1.10.0

Collecting streamlit==1.10.0
  Using cached streamlit-1.10.0-py2.py3-none-any.whl (9.1 MB)
Requirement already satisfied: altair>=3.2.0 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (4.2.0)
Requirement already satisfied: pandas>=0.21.0 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (1.4.4)
Requirement already satisfied: tzlocal in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (4.2)
Requirement already satisfied: attrs in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (22.1.0)
Requirement already satisfied: typing-extensions in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (4.3.0)
Requirement already satisfied: semver in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (2.13.0)
Requirement already satisfied: pyarrow in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (9.0.0)
Requirement already satisfied: pympler>=0.9 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (1.0.1)
Requirement already satisfied: protobuf<4,>=3.12 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (3.20.2)
Requirement already satisfied: requests in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (2.28.1)
Requirement already satisfied: tornado>=5.0 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (6.2)
Requirement already satisfied: gitpython!=3.1.19 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (3.1.27)
Requirement already satisfied: validators in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (0.20.0)
Requirement already satisfied: numpy in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (1.23.3)
Requirement already satisfied: pydeck>=0.1.dev5 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (0.8.0b3)
Requirement already satisfied: click>=7.0 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (8.1.3)
Requirement already satisfied: rich in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (12.5.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (9.2.0)
Requirement already satisfied: toml in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (0.10.2)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (4.12.0)
Requirement already satisfied: python-dateutil in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (2.8.2)
Requirement already satisfied: packaging in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (21.3)
Requirement already satisfied: cachetools>=4.0 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (5.2.0)
Requirement already satisfied: blinker in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (1.5)
Requirement already satisfied: watchdog in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from streamlit==1.10.0) (2.1.9)
Requirement already satisfied: entrypoints in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from altair>=3.2.0->streamlit==1.10.0) (0.4)
Requirement already satisfied: jinja2 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from altair>=3.2.0->streamlit==1.10.0) (3.1.2)
Requirement already satisfied: toolz in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from altair>=3.2.0->streamlit==1.10.0) (0.12.0)
Requirement already satisfied: jsonschema>=3.0 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from altair>=3.2.0->streamlit==1.10.0) (4.16.0)
Requirement already satisfied: colorama in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from click>=7.0->streamlit==1.10.0) (0.4.5)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from gitpython!=3.1.19->streamlit==1.10.0) (4.0.9)
Requirement already satisfied: zipp>=0.5 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from importlib-metadata>=1.4->streamlit==1.10.0) (3.8.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from pandas>=0.21.0->streamlit==1.10.0) (2022.2.1)
Requirement already satisfied: six>=1.5 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from python-dateutil->streamlit==1.10.0) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from packaging->streamlit==1.10.0) (3.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from requests->streamlit==1.10.0) (1.26.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from requests->streamlit==1.10.0) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from requests->streamlit==1.10.0) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from requests->streamlit==1.10.0) (2022.9.14)
Requirement already satisfied: commonmark<0.10.0,>=0.9.0 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from rich->streamlit==1.10.0) (0.9.1)
Requirement already satisfied: pygments<3.0.0,>=2.6.0 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from rich->streamlit==1.10.0) (2.13.0)
Requirement already satisfied: tzdata in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from tzlocal->streamlit==1.10.0) (2022.2)
Requirement already satisfied: pytz-deprecation-shim in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from tzlocal->streamlit==1.10.0) (0.1.0.post0)
Requirement already satisfied: decorator>=3.4.0 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from validators->streamlit==1.10.0) (5.1.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit==1.10.0) (5.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from jinja2->altair>=3.2.0->streamlit==1.10.0) (2.1.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit==1.10.0) (0.18.1)
Installing collected packages: streamlit
  Attempting uninstall: streamlit
    Found existing installation: streamlit 1.12.2
    Uninstalling streamlit-1.12.2:
      Successfully uninstalled streamlit-1.12.2
Successfully installed streamlit-1.10.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install scikit-learn==1.0.2

Collecting scikit-learn==1.0.2
  Downloading scikit_learn-1.0.2-cp310-cp310-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 41.8 MB/s eta 0:00:00
Collecting scipy>=1.1.0
  Downloading scipy-1.9.1-cp310-cp310-win_amd64.whl (38.6 MB)
     --------------------------------------- 38.6/38.6 MB 43.7 MB/s eta 0:00:00
Collecting joblib>=0.11
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Requirement already satisfied: numpy>=1.14.6 in c:\users\sarin\anaconda3\envs\mlwaws\lib\site-packages (from scikit-learn==1.0.2) (1.23.3)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.0.2 scipy-1.9.1 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print(" r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

In [15]:
df=pd.read_csv("final_scout_not_dummy (1).csv")
pd.set_option('display.max_columns',  None)
pd.options.display.float_format = '{:,.1f}'.format

In [16]:
df.head(1)

,make_model,body_type,price,vat,km,Type,Fuel,Gears,Comfort_Convenience,Entertainment_Media,Extras,Safety_Security,age,Previous_Owners,hp_kW,Inspection_new,Paint_Type,Upholstery_type,Gearing_Type,Displacement_cc,Weight_kg,Drive_chain,cons_comb
0,Audi A1,Sedans,15770,VAT deductible,"56,013.0",Used,Diesel,7.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...",3.0,2.0,66.0,1,Metallic,Cloth,Automatic,"1,422.0","1,220.0",front,3.8

In [17]:
df.shape

(15915, 23)

In [18]:
df.isnull().sum().any()

False

In [19]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'Type', 'Fuel',
       'Gears', 'Comfort_Convenience', 'Entertainment_Media', 'Extras',
       'Safety_Security', 'age', 'Previous_Owners', 'hp_kW', 'Inspection_new',
       'Paint_Type', 'Upholstery_type', 'Gearing_Type', 'Displacement_cc',
       'Weight_kg', 'Drive_chain', 'cons_comb'],
      dtype='object')

In [20]:
df.age.unique()

array([3., 2., 1., 0.])

In [21]:
df.hp_kW.min()

40.0

In [22]:
df.hp_kW.max()

294.0

In [23]:
df.km.nunique()

6691

In [24]:
df.km.max()

317000.0

In [25]:
df.km.min()

0.0

In [26]:
df.Gearing_Type.unique()

array(['Automatic', 'Manual', 'Semi-automatic'], dtype=object)

In [27]:
df.make_model.unique()

array(['Audi A1', 'Audi A2', 'Audi A3', 'Opel Astra', 'Opel Corsa',
       'Opel Insignia', 'Renault Clio', 'Renault Duster',
       'Renault Espace'], dtype=object)

In [28]:
df.make_model.value_counts()

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2525
Opel Corsa        2216
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [29]:
df[df.make_model=="Audi A2"]

,make_model,body_type,price,vat,km,Type,Fuel,Gears,Comfort_Convenience,Entertainment_Media,Extras,Safety_Security,age,Previous_Owners,hp_kW,Inspection_new,Paint_Type,Upholstery_type,Gearing_Type,Displacement_cc,Weight_kg,Drive_chain,cons_comb
2614,Audi A2,Off-Road,28200,VAT deductible,"26,166.0",Employee's car,Diesel,6.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...",Alloy wheels,"ABS,Adaptive Cruise Control,Central door lock,...",1.0,1.0,85.0,0,Metallic,Cloth,Manual,"1,598.0","1,135.0",front,4.9

In [30]:
df.drop(index=[2614], inplace =True)

In [31]:
df.make_model.unique()

array(['Audi A1', 'Audi A3', 'Opel Astra', 'Opel Corsa', 'Opel Insignia',
       'Renault Clio', 'Renault Duster', 'Renault Espace'], dtype=object)

In [32]:
new_list=["age", "hp_kW", "km", "Gearing_Type", 'make_model']

In [33]:
X=df[new_list]
y=df['price']

In [34]:
X.sample(5)

       age  hp_kW       km Gearing_Type      make_model
6988   2.0   92.0 39,754.0       Manual      Opel Astra
15555  2.0  118.0 20,880.0    Automatic  Renault Espace
13812  0.0   56.0  1,647.4       Manual    Renault Clio
4559   1.0   85.0 14,900.0    Automatic         Audi A3
15862  0.0  118.0    100.0    Automatic  Renault Espace

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [36]:
from sklearn.compose import make_column_transformer

In [37]:
from sklearn.preprocessing import OrdinalEncoder

In [38]:
cat = X_train.select_dtypes("object").columns
cat

Index(['Gearing_Type', 'make_model'], dtype='object')

In [39]:
ord_enc = OrdinalEncoder()
column_trans = make_column_transformer((ord_enc, cat), remainder='passthrough') # remainder: # Keep other columns rather than cat in original form.
                                                                                # remainder: # if you want to scale rest of cat columns use "minmax" istead passthroug
    
    # Apply ord_enc to categoric variables and remain in original form rest of them.
    # ord_enc for DT based algorithms
    # For Linear reg, log reg vs. use one hot encoder

In [40]:
X_train=column_trans.fit_transform(X_train)

In [41]:
X_test=column_trans.transform(X_test)

In [42]:
X_train

array([[1.00e+00, 5.00e+00, 0.00e+00, 5.60e+01, 1.00e+01],
       [1.00e+00, 2.00e+00, 3.00e+00, 8.10e+01, 1.39e+05],
       [0.00e+00, 1.00e+00, 0.00e+00, 8.50e+01, 1.80e+04],
       ...,
       [0.00e+00, 3.00e+00, 0.00e+00, 6.60e+01, 3.55e+02],
       [0.00e+00, 4.00e+00, 3.00e+00, 1.25e+02, 2.32e+05],
       [0.00e+00, 1.00e+00, 3.00e+00, 8.10e+01, 9.70e+04]])

In [43]:
pd.Series(X_train[1])

0         1.0
1         2.0
2         3.0
3        81.0
4   139,000.0
dtype: float64

In [44]:
from sklearn.ensemble import RandomForestRegressor
rf_model=RandomForestRegressor()
rf_model.fit(X_train, y_train)

RandomForestRegressor()

In [45]:
y_pred = rf_model.predict(X_test)

In [46]:
eval_metrics(y_test,y_pred)

 r2_score: 0.9293953395303737
 mae: 1137.365122988366
 mse: 3535062.1216203603
 rmse: 1880.1760879290962

In [60]:
import pickle
pickle.dump(rf_model, open('rf_model_new', 'wb'))

In [61]:
pickle.dump(column_trans, open('transformer', 'wb'))

**deployment**

In [62]:
richard_model = pickle.load(open('rf_model_new', 'rb'))

In [63]:
richard_transformer = pickle.load(open('transformer', 'rb'))

In [64]:
columns=list(X.columns)
columns

['age', 'hp_kW', 'km', 'Gearing_Type', 'make_model']

In [52]:
my_dict = {
    "age": 2,
    "hp_kW": 105,
    "km": 100000,
    "Gearing_Type":"Automatic",
    "make_model": 'Audi A3'
}

In [53]:
#df = pd.DataFrame([my_dict])
#df = pd.DataFrame(my_dict, index=["a"])

In [54]:
df = pd.DataFrame.from_dict([my_dict])

In [55]:
df.head()

   age  hp_kW      km Gearing_Type make_model
0    2    105  100000    Automatic    Audi A3

In [56]:
df2 = richard_transformer.transform(df)

In [57]:
pd.Series(df2[0])

0         0.0
1         1.0
2         2.0
3       105.0
4   100,000.0
dtype: float64

In [58]:
prediction = richard_model.predict(df2)
print(prediction)

[19442.54]

In [59]:
print("The estimated price of your car is €{}. ".format(int(prediction[0])))

The estimated price of your car is €19442.